<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.browser_example" android:versionCode="1" android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="22"/>
    <application android:name=".MainApplication" android:allowBackup="true" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="myurischeme" android:host="open"/>
                <data android:scheme="https" android:host="b8e9.app.link"/>
                <data android:scheme="https" android:host="b8e9-alternate.app.link"/>
                <data android:scheme="https" android:host="b8e9.test-app.link"/>
                <data android:scheme="https" android:host="b8e9-alternate.test-app.link"/>
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_onzHkTB1E4aeo2HI8qsnFmfaBupEXGtN"/>
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_bjBRbHrWF9hfo5KH5EEhEpogCwfv2UrZ"/>
    </application>
</manifest>