<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.webview_example" android:versionCode="1" android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application android:name=".MainApplication" android:allowBackup="true" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Branch intent-filter -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="rnwebview" android:host="open"/>
                <data android:scheme="https" android:host="l1mv.app.link"/>
                <data android:scheme="https" android:host="l1mv-alternate.app.link"/>
                <data android:scheme="https" android:host="l1mv.test-app.link"/>
                <data android:scheme="https" android:host="l1mv-alternate.test-app.link"/>
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
        <!-- Branch keys -->
        <!-- meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_gmvPhLx7x9cW5Qh4x80dVcphxviJom1r"/>
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_oaCHnPu3yWd42Pn2F4YfIgdlBAmPac1G"/ -->
    </application>
</manifest>
