<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.webview_tutorial"
     android:versionCode="1"
     android:versionName="1.0">

     <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

     <uses-sdk
         android:minSdkVersion="16"
         android:targetSdkVersion="22" />

     <application
         android:name=".MainApplication"
         android:allowBackup="true"
         android:label="@string/app_name"
         android:icon="@mipmap/ic_launcher"
         android:theme="@style/AppTheme">
         <!-- Step 6: Add singleTask to the MainActivity -->
         <activity
             android:name=".MainActivity"
             android:label="@string/app_name"
             android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
             android:windowSoftInputMode="adjustResize">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
             <!-- Step 7: Add intent-filters -->
         </activity>
         <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
         <!-- Step 8: Add Branch keys -->
     </application>

</manifest>
